@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  font-family: "Comfortaa", cursive;
}
.App {
  background: 
  /* radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), */ radial-gradient(
      circle at 50%,
      rgba(255, 255, 255) 90px,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    ),
    url("./images/nftpedia_background1.jpg");
  background-size: cover;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #20a6c1;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px rgba(157, 157, 157, 0.2);
}

.navbar__span {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: 0 30px;
}

.pagecontainer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
