@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  font-family: "Comfortaa", cursive;
}

.App {
  background: 
  /* radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), */ radial-gradient(
      circle at 50%,
      rgba(255, 255, 255) 90px,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    ),
    url("./images/nftpedia_background1.jpg");
  background-size: cover;
  min-height: 100vh;
}

@media only screen and (min-width: 250px) {
  .App {
    background: 
    /* radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), */ radial-gradient(
        circle at 50%,
        rgba(255, 255, 255) 350px,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      ),
      url("./images/nftpedia_background1.jpg");
    background-size: auto;
    min-height: 100vh;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #20a6c1;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px rgba(157, 157, 157, 0.2);
  }

  .navbar__span {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    margin: 0 30px;
  }

  .pagecontainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 70px;
    padding-top: 15px;
  }

  .alphabet {
    display: none;
  }

  .letter {
    /* display: inline-block; */
    font-weight: bold;
    width: 25px;
    border-left: 3px solid #20a6c1;
    border-bottom: 3px solid #20a6c1;
    padding-left: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .startpage {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 50px;
    width: 100%;
    /* height: 400px; */
    /* background-color: red; */
  }

  .startpage__box {
    width: 280px;
    background-color: #ffffff;
    border: 1px solid #8f8f8f;
    border-radius: 25px 25px 5px 5px;
    /* box-shadow: -15px 15px rgba(108, 108, 108, 0.5); */
    padding: 10px;
    margin-bottom: 30px;
  }

  .firstPage_img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }

  .startpage__p--title {
    color: #000000;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }

  .startpage__p--description {
    line-height: 130%;
  }

  p {
    text-align: left;
    margin-top: 20px;
    line-height: 120%;
  }

  .nft-description {
    width: 90%;
    margin: 30px 0;
  }

  .nft-description--title {
    color: #000000;
    text-align: center;
    font-weight: 500;
  }

  .word-description-container {
    width: 50%;
    text-align: center;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 571px) {
  .App {
    background: 
    /* radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), */ radial-gradient(
        circle at 50%,
        rgba(255, 255, 255) 700px,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      ),
      url("./images/nftpedia_background1.jpg");
    background-size: cover;
    min-height: 100vh;
  }
  .pagecontainer {
    padding-top: 30px;
  }

  .alphabet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
  }

  .startpage__box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #8f8f8f;
    border-radius: 25px 25px 5px 5px;
    /* box-shadow: -15px 15px rgba(108, 108, 108, 0.5); */
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .App {
    background: 
    /* radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), */ radial-gradient(
        circle at 50%,
        rgba(255, 255, 255) 90px,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      ),
      url("./images/nftpedia_background1.jpg");
    background-size: cover;
    min-height: 100vh;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #20a6c1;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px rgba(157, 157, 157, 0.2);
  }

  .navbar__span {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    margin: 0 30px;
  }

  .pagecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding-top: 30px;
  }

  .alphabet {
    /* TODO Hide below 570 screenwidth */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-content: center; */
    width: 60%;
  }

  .letter {
    /* display: inline-block; */
    font-weight: bold;
    width: 25px;
    border-left: 3px solid #20a6c1;
    border-bottom: 3px solid #20a6c1;
    padding-left: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .startpage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin-top: 50px;
    width: 80%;
    height: 400px;
    /* background-color: blue; */
  }

  .startpage__box {
    width: 280px;
    background-color: #ffffff;
    border: 1px solid #8f8f8f;
    border-radius: 25px 25px 5px 5px;
    /* box-shadow: -15px 15px rgba(108, 108, 108, 0.5); */
    padding: 10px;
  }

  .firstPage_img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }

  .startpage__p--title {
    color: #000000;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }

  .startpage__p--description {
    line-height: 130%;
  }

  p {
    text-align: left;
    margin-top: 20px;
    line-height: 120%;
  }

  .nft-description {
    width: 50%;
    margin: 30px 0;
  }

  .nft-description--title {
    color: #000000;
    text-align: center;
    font-weight: 500;
  }

  .word-description-container {
    width: 50%;
    text-align: center;
    margin-top: 50px;
  }
}
